@{
    ViewData["Title"] = "Home Page";
}

<div style="background-color:lightgray" class="card">
    <div class="card-body text-center">
        <h1 class="display-4">Masala Spice</h1>
    </div>
    <img class="card-img-bottom" src="./images/1_asR4qapWtOLpFLO-QQ0riQ.jpeg" alt="Card image cap">
    <div class="card-body text-center">
        <a asp-action="MenuItems" class="btn btn-success">View Menu</a>
    </div>
</div>
